/* Reset */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* General */
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Rubik Mono One', sans-serif;

}

/* Nav */
nav{
    width: 20vw;
    background-color: transparent;
    position: fixed;
    text-align: right;
    position: fixed;
    right: 0%;
    z-index: 1;
}
ul li, a{
    display: inline-block;
    line-height: 100px;
    vertical-align: middle;
    text-decoration: none;
    color: black;
}
/* Bottoni */
.buttons{
    background-color: white;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
}
li:nth-of-type(2){
    padding: 0 15px;
}
li:last-child{
    padding-right: 10px;
}

/* Articoli */
.container-1{
    height: 100vh;
    width: 100%;
    background-color: #FF0000;
    position: relative;

}
.container-2{
    height: 100vh;
    width: 100%;
    background-color: #008000;
    position: relative;
}
.container-3{
    height: 100vh;
    width: 100%;
    background-color: #FFFF00;
    position: relative;
}

/* Box articoli */
.box{
    height: 50vh;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}
.text-style{
    text-align: center;
    font-size: 50px;
    color: #FFFF00;
}
article.container-3 h2.text-style{
    color: #008000;
}